picture{
  max-width: 90%;  
}
img{
  max-width: 90%;   
}
ul{
    
}
li{
    width: 50%;
    float: left;
    list-style: none;
}
@media screen and (max-width: 600px){
    li{
        width: 100%;
    }
}
@media screen and (min-width: 1200px){
    li{
        width: 25%;
        float: left;
    }
}